.App {
  position: relative;
  display: grid;
  grid:
    "header header header header"auto ". dashboard-palette signout ."auto ". signin signin ."auto ". login-palette login-palette ."auto ". lists  active ."auto / 1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: -0.3em 0 0.3em;
}

.sign-out {
  grid-area: signout;
  margin-left: auto;
  margin-bottom: 0.5em;

  display: flex;
  gap: 0.4rem;
  font-weight: bold;
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.sign-out>.text {
  padding-top: 0.1em;
}

.sign-out:hover {
  color: var(--clr-warning);
}

.sign-in {
  grid-area: signin;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  gap: 0.4rem;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
  padding: 15px 40px;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  transition: border 0.2s, width 0.2s, height 0.2s;
  transition: border-color 0.5s, color 0.5s;
}

.sign-in:hover {
  color: var(--clr-secondary);
  border-color: var(--clr-secondary);
}

.sign-in::before {
  content: '';
  visibility: hidden;
  opacity: 0;
  transition-delay: 1s;
  transition: opacity 1s, visibility 1s;
}

.sign-in.loading {
  pointer-events: none;
  cursor: wait;
  border-radius: 50%;
  padding: 0;
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255, 255, 255, 0.3);
}

.sign-in.loading .icon,
.sign-in.loading .text {
  display: none;
}

.sign-in.loading::before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 50%;
  padding: 0;
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  opacity: 1;
  visibility: visible;
  -webkit-animation-name: turn;
  animation-name: turn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.login-palette-container {
  grid-area: login-palette;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.dashboard-palette-container {
  grid-area: dashboard-palette;
  position: relative;
  margin-right: auto;
  width: 2rem;
}

.dashboard-palette-container:hover {
  color: var(--clr-warning);
}

.login-palette-container .palette-colors {
  display: flex;
  background-color: rgb(228, 228, 228);
  list-style: none;
  padding: 2px;
  border-radius: 10px;
  margin: 0;
  margin-left: 10px;
  margin-top: -5px;
}

.dashboard-palette-container .palette-colors {
  position: absolute;
  top: -30px;
  left: 30px;
  z-index: 1000;
  background-color: rgb(228, 228, 228);
  list-style: none;
  padding: 2px;
  border-radius: 10px;
  display: none
}

.dashboard-palette-container:hover .palette-colors {
  display: flex;
}

.colors {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
  /* transition: border 0.5s; */
}

.colors:hover {
  border-width: 2px;
  border-color: black;
}

@media only screen and (max-width: 600px) {
  .App {
    display: grid;
    grid:
      ". header ."auto ". signout ."auto ". dashboard-palette ."auto ". signin ."auto ". login-palette ."auto ". lists ."auto ". active ."auto / 1fr minmax(100px, 300px) 1fr;
  }

  .title {
    margin-bottom: 0;
  }

  .sign-in {
    font-size: 1.3rem;
    padding: 10px 10px;
  }

  .sign-out {
    margin: auto;
  }
}